:root {
    font-family: 'Courier New', Courier, monospace;
    --main-color: hsl(173, 50%, 46%);
    --main-bg-color: hsl(173, 30%, 70%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    background-color: var(--main-bg-color);
}

#title {
    margin-bottom: 50px;
}
#title > h2 {
    white-space: nowrap;
}

#winner {
    margin-bottom: 50px;
}

#gameboard {
    display: grid;
    position: relative;
    place-items: center;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    width: 500px;
    height: 500px;

    background-color: gray;
}
#gameboard > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92%;
    height: 92%;
    margin: 0;
    font-size: 4rem;

    background-color: var(--main-color);
}
#gameboard > div:hover {
    cursor: pointer;
    background-color: hsl(173, 70%, 65%);
}

@media (max-width: 1000px) {
    #gameboard {
        width: 800px;
        height: 800px;
    }

    #reset {
        width: 150px;
        height: 100px;
    }
}

#reset {
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--main-bg-color);
    margin: 45px;
    border-radius: 5px;
}
#reset:hover{
    cursor: pointer;
}